/* .cart {
    margin-top: 70px;
} */

.image {
    /* width: 250px;
    height: 300px; */
    /* width: 100px; */
    /* height: 100px; */
    /* background: orange; */
    margin: 0px 10px;
    transition: 1s;

}

.image:hover {
    transform: scale(2);
    /* background: #ff800a; */
    z-index: 2;
    box-shadow: 2px 2px 2px #000;

}