.navbar-logo {

    cursor: pointer;
    transform: scale(0.5, 0.5);
    margin-left: -175px;
}

.header {
    height: 70px !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    z-index: 1;
}

.nav1 li a:hover,
.nav1 li a:focus {
    color: black !important;
}